<!DOCTYPE html>

<html>

<head>
    <title>Bilibili Record</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="referrer" content="no-referrer">
    <link rel="stylesheet" href="./index.css">
    <script src="https://unpkg.com/jquery@3.6.0/dist/jquery.js"></script>
    <link rel="stylesheet" href="http://unpkg.com/element-plus@1.1.0-beta.19/dist/index.css" />
    <script src="http://unpkg.com/vue@next"></script>
    <script src="http://unpkg.com/element-plus@1.1.0-beta.19"></script>
</head>

<body>
    <div id="app">
        <el-container>
            <el-aside width="70px">
                <el-menu default-active="1" class="el-menu-vertical-demo" :collapse="true">
                    <el-menu-item index="1" @click="openOverview">
                        <i class="el-icon-menu"></i>
                        <template #title>总览</template>
                    </el-menu-item>
                    <el-menu-item index="2" @click="openMonitor">
                        <i class="el-icon-monitor"></i>
                        <template #title>分区监控</template>
                    </el-menu-item>
                    <el-menu-item index="3" @click="addRoom">
                        <i class="el-icon-circle-plus"></i>
                        <template #title>添加房间</template>
                    </el-menu-item>
                </el-menu>
            </el-aside>
            <!-- <el-container> -->
            <el-main v-if="showOverview">
                <el-space wrap>
                    <div class="radius info-radius"
                        style="border-radius: var(--el-border-radius-base); box-shadow: var(--el-box-shadow-base);">
                        <div class="radius-title">
                            设备状态
                            <i class="el-icon-warning-outline"></i>
                        </div>
                        <el-space wrap>
                            <el-card class="box-card">
                                <template #header>
                                    <div class="card-header">
                                        <span>CPU</span>
                                    </div>
                                </template>
                                <div class="progress">
                                    <el-progress type="dashboard" :percentage="cpuPct" :color="colors" />
                                </div>
                            </el-card>
                            <el-card class="box-card">
                                <template #header>
                                    <div class="card-header">
                                        <span>内存</span>
                                    </div>
                                </template>
                                <div class="progress">
                                    <el-progress type="line" :percentage="memoryPct" :color="colors"
                                        :text-inside="true" :stroke-width="35">
                                        <span class="percentage-value">{{ memoryPct }}% </span>
                                        </br>
                                        <span class="percentage-label">{{ memoryUsage }} / {{ memoryTotal }}</span>
                                    </el-progress>
                                </div>
                            </el-card>
                            <el-card class="box-card">
                                <template #header>
                                    <div class="card-header">
                                        <span>网络</span>
                                    </div>
                                </template>
                                <div class="text item">{{ uploadSpeed }}</div>
                                <div class="text item">{{ downloadSpeed }}</div>
                            </el-card>
                            <el-card class="box-card">
                                <template #header>
                                    <div class="card-header">
                                        <span>硬盘</span>
                                    </div>
                                </template>
                                <el-progress :text-inside="true" :stroke-width="20" :percentage="diskPct"
                                    :color="colors">
                                    <span>{{ diskName }} {{ diskUsage }} / {{ diskTotal }}</span>
                                </el-progress>
                            </el-card>
                            <el-card class="box-card">
                                <template #header>
                                    <div class="card-header">
                                        <span>录制信息</span>
                                    </div>
                                </template>
                                <div class="text item">监听房间数： {{ tableData.length }}</div>
                                <div class="text item">正在录制： {{ recordCount }}</div>
                                <div class="text item">下载量： {{ totalDownload }}</div>
                                <div class="text item">已录制文件数： {{ fileNum }}</div>
                            </el-card>
                        </el-space>
                    </div>
                </el-space>
                <el-table :data="tableData" :row-style="tableRowColor"
                    :default-sort="{prop: 'LiveStatus', order: 'descending'}">
                    <el-table-column prop="RoomID" label="房间ID">
                        <template #default="scope">
                            <el-link :type="status2Type(scope.row.LiveStatus)" :href="roomID2Url(scope.row.RoomID)">
                                {{ scope.row.RoomID }}
                            </el-link>
                        </template>
                    </el-table-column>
                    <el-table-column prop="Uname" label="主播">
                    </el-table-column>
                    <el-table-column prop="AreaName" label="分区">
                    </el-table-column>
                    <el-table-column prop="Title" label="直播标题">
                    </el-table-column>
                    <el-table-column prop="LiveStatus" label="直播状态" :sortable="true" :sort-method="liveSort">
                        <template #default="scope">
                            <el-tag :type="status2Type(scope.row.LiveStatus)">{{ status2Name(scope.row.LiveStatus)
                                }}
                            </el-tag>
                        </template>
                    </el-table-column>
                    <el-table-column prop="LiveStartTime" label="开播时间">
                    </el-table-column>
                    <el-table-column prop="LiveTime" label="开播时长">
                    </el-table-column>
                    <el-table-column prop="RecordTime" label="录制时间">
                    </el-table-column>
                    <!-- <el-table-column prop="DecodeTime" label="转码用时">
                    </el-table-column>
                    <el-table-column prop="UploadTime" label="上传用时">
                    </el-table-column> -->
                    <el-table-column prop="State" label="当前状态">
                        <template #default="scope">
                            <el-tag :type="state2Type(scope.row.State)">{{ state2Name(scope.row.State) }}
                            </el-tag>
                        </template>
                    </el-table-column>
                    <el-table-column label="操作">
                        <template #default="scope">
                            <el-button size="small" @click="handleOpen(scope.$index, scope.row)" type="primary"
                                icon="el-icon-more" circle></el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-main>
            <el-main v-if="showMonitor">
                <div style='position: relative;'>
                    <el-tabs v-model="activeName" type="card" @tab-click="handleTabClick">
                        <el-tab-pane v-for="(item, index) in areaList" :key="index" :name="item" :label="area2label(item)" lazy>
                        </el-tab-pane>
                    </el-tabs>
                    <el-button size='mini' style='position: absolute;right:10px;top:5px;'>Add</el-button>
                </div>
                <el-space wrap>
                    <template v-for="(item, index) in monitorMap[activeName].Data">
                        <el-card shadow="always" style="--el-card-padding: 10px">
                            <el-space direction="vertical" alignment="start">
                                <el-link :href="roomID2Url(item.RoomID)" :underline="false"> 
                                    <img :src="item.LiveCover" style="width:256px; height:144px" class="image" lazy>
                                </el-link>
                                <i class="el-icon-user" style="font-size: small;">{{ item.Popularity }}</i>
                                <el-link :href="roomID2Url(item.RoomID)">{{ item.Title }}</el-link>
                                <div style="color: #909399">
                                    <!-- <el-avatar size="small" :src="item.UserCover"></el-avatar> -->
                                    <el-link :href="uID2url(item.UID)">{{ item.Uname }}</el-link>
                                    <el-button style="margin-left:10px" v-if="judgeExists(item.RoomID)" size="small" icon="el-icon-plus" @click="clickMonitorRoom(item.RoomID)" circle></el-button>
                                    <el-button size="small" icon="el-icon-remove" @click="blockRoom(item.RoomID)" circle></el-button>
                                </div>
                            </el-space>
                        </el-card>
                    </template>
                </el-space>
            </el-main>
            <el-drawer v-model="editFormVisible" title="房间信息" size='45%'>
                <el-descriptions class="margin-top" :column="2" :data="room" border>
                    <el-descriptions-item>
                        <template #label>
                            <i class="el-icon-user"></i>
                            房间ID
                        </template>
                        <el-link :type="status2Type(room.LiveStatus)" :href="roomID2Url(room.RoomID)">
                            {{ room.RoomID }}
                        </el-link>
                    </el-descriptions-item>
                    <el-descriptions-item>
                        <template #label>
                            <i class="el-icon-mobile-phone"></i>
                            主播
                        </template>
                        {{ room.Uname }}
                    </el-descriptions-item>
                    <el-descriptions-item>
                        <template #label>
                            <i class="el-icon-location-outline"></i>
                            分区
                        </template>
                        {{ room.AreaName }}
                    </el-descriptions-item>
                    <el-descriptions-item>
                        <template #label>
                            <i class="el-icon-tickets"></i>
                            直播标题
                        </template>
                        {{ room.Title }}
                    </el-descriptions-item>
                    <el-descriptions-item>
                        <template #label>
                            <i class="el-icon-office-building"></i>
                            直播状态
                        </template>
                        <el-tag size="small" :type="status2Type(room.LiveStatus)">{{ status2Name(room.LiveStatus) }} </el-tag>
                    </el-descriptions-item>
                    <el-descriptions-item>
                        <template #label>
                            <i class="el-icon-office-building"></i>
                            开播时间
                        </template>
                        {{ room.LiveStartTime }}
                    </el-descriptions-item>
                    <el-descriptions-item>
                        <template #label>
                            <i class="el-icon-office-building"></i>
                            开播时长
                        </template>
                        {{ room.LiveTime }}
                    </el-descriptions-item>
                    <el-descriptions-item>
                        <template #label>
                            <i class="el-icon-office-building"></i>
                            录制时长
                        </template>
                        {{ room.RecordTime }}
                    </el-descriptions-item>
                    <el-descriptions-item>
                        <template #label>
                            <i class="el-icon-office-building"></i>
                            转码时长
                        </template>
                        {{ room.DecodeTime }}
                    </el-descriptions-item>
                    <el-descriptions-item>
                        <template #label>
                            <i class="el-icon-office-building"></i>
                            上传时长
                        </template>
                        {{ room.UploadTime }}
                    </el-descriptions-item>
                    <el-descriptions-item>
                        <template #label>
                            <i class="el-icon-office-building"></i>
                            当前状态
                        </template>
                        <el-tag size="small" :type="state2Type(room.State)">{{ state2Name(room.State) }} </el-tag>
                    </el-descriptions-item>
                    <el-descriptions-item>
                        <template #label>
                            <i class="el-icon-office-building"></i>
                            占用空间
                        </template>
                        null
                    </el-descriptions-item>
                </el-descriptions>
                <el-divider>
                    <span>编辑房间信息</span>
                </el-divider>
                <el-form :model="form">
                    <el-form-item label="房间ID" label-width="120px">
                        <el-input v-model="form.RoomID" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-row>
                        <el-col :span="12">
                            <el-form-item>
                                <el-switch v-model="form.RecordMode" active-color="#13ce66" inactive-color="#ff4949"
                                    active-text="24小时录制" inactive-text="仅在设定时间录制"
                                    @change="changeRecordTimeText(form.RecordMode)" />
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item>
                                <el-switch v-model="form.DivideByTitle" active-color="#13ce66"
                                    inactive-color="#ff4949" active-text="当天录像按照标题分P" inactive-text="当天录像不分P" />
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="12">
                            <el-form-item label="录制开始时间" label-width="120px">
                                <el-time-picker v-model="form.StartTime" :disabled="disabledRecord">
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="录制结束时间" label-width="120px">
                                <el-time-picker v-model="form.EndTime" :disabled="disabledRecord">
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="12">
                            <el-form-item>
                                <el-switch v-model="form.AutoRecord" active-color="#13ce66" inactive-color="#ff4949"
                                    active-text="自动录制" inactive-text="仅监控" />
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item>
                                <el-switch v-model="form.AutoUpload" disabled active-color="#13ce66"
                                    inactive-color="#ff4949" active-text="自动上传" inactive-text="禁止上传" />
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="12">
                            <el-form-item>
                                <el-switch v-model="form.NeedM4a" active-color="#13ce66" inactive-color="#ff4949"
                                    active-text="转码生成视频和音频" inactive-text="仅生成视频" />
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item>
                                <el-switch v-model="form.Mp4Compress" active-color="#13ce66"
                                    inactive-color="#ff4949" active-text="视频质量压缩" inactive-text="不压缩视频" />
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="12">
                            <el-form-item>
                                <el-switch v-model="form.CleanUpRegular" active-color="#13ce66"
                                    inactive-color="#ff4949" active-text="定期清理录制内容" inactive-text="不清理生成的文件" />
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="文件保留时间" label-width="120px">
                                <el-input v-model="form.SaveDuration" autocomplete="off"
                                    :disabled="!form.CleanUpRegular"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="12">
                            <el-form-item>
                                <el-switch v-model="form.AreaLock" active-color="#13ce66" inactive-color="#ff4949"
                                    active-text="只录制指定分区下的直播" inactive-text="不限制直播分区" />
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="指定的分区名" label-width="120px">
                                <el-input v-model="form.AreaLimit" autocomplete="off" :disabled="!form.AreaLock">
                                </el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
                <div class="drawer-footer">
                    <!-- <template #default="scope"> -->
                    <el-button-group>
                        <el-button type="danger" icon="el-icon-delete" @click="handleDelete(form)">删除
                        </el-button>
                        <el-button icon="el-icon-circle-close" @click="editFormVisible = false">取消</el-button>
                        <el-button icon="el-icon-circle-check" type="primary" @click="onSubmit">确定</el-button>
                        <el-button icon="el-icon-refresh" type="primary" @click="onDecode">立即转码</el-button>
                    </el-button-group>
                    <!-- </template> -->
                </div>
            </el-drawer>
            <el-drawer v-model="addFormVisible" title="添加房间" size='45%' direction="ltr">
                <el-form :model="addForm">  
                    <el-form-item label="房间ID" label-width="120px">
                        <el-input v-model="addForm.RoomID" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-row>
                        <el-col :span="12">
                            <el-form-item>
                                <el-switch v-model="addForm.RecordMode" active-color="#13ce66" inactive-color="#ff4949"
                                    active-text="24小时录制" inactive-text="仅在设定时间录制"
                                    @change="changeAddRecordTimeText(addForm.RecordMode)" />
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item>
                                <el-switch v-model="addForm.DivideByTitle" active-color="#13ce66"
                                    inactive-color="#ff4949" active-text="当天录像按照标题分P" inactive-text="当天录像不分P" />
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="12">
                            <el-form-item label="录制开始时间" label-width="120px">
                                <el-time-picker v-model="addForm.StartTime" :disabled="disableAddRecord">
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="录制结束时间" label-width="120px">
                                <el-time-picker v-model="addForm.EndTime" :disabled="disableAddRecord">
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="12">
                            <el-form-item>
                                <el-switch v-model="addForm.AutoRecord" active-color="#13ce66" inactive-color="#ff4949"
                                    active-text="自动录制" inactive-text="仅监控" />
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item>
                                <el-switch v-model="addForm.AutoUpload" disabled active-color="#13ce66"
                                    inactive-color="#ff4949" active-text="自动上传" inactive-text="禁止上传" />
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="12">
                            <el-form-item>
                                <el-switch v-model="addForm.NeedM4a" active-color="#13ce66" inactive-color="#ff4949"
                                    active-text="转码生成视频和音频" inactive-text="仅生成视频" />
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item>
                                <el-switch v-model="addForm.Mp4Compress" active-color="#13ce66"
                                    inactive-color="#ff4949" active-text="视频质量压缩" inactive-text="不压缩视频" />
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="12">
                            <el-form-item>
                                <el-switch v-model="addForm.CleanUpRegular" active-color="#13ce66"
                                    inactive-color="#ff4949" active-text="定期清理录制内容" inactive-text="不清理生成的文件" />
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="文件保留时间" label-width="120px">
                                <el-input v-model="addForm.SaveDuration" autocomplete="off"
                                    :disabled="!addForm.CleanUpRegular"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="12">
                            <el-form-item>
                                <el-switch v-model="addForm.AreaLock" active-color="#13ce66" inactive-color="#ff4949"
                                    active-text="只录制指定分区下的直播" inactive-text="不限制直播分区" />
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="指定的分区名" label-width="120px">
                                <el-input v-model="addForm.AreaLimit" autocomplete="off" :disabled="!addForm.AreaLock">
                                </el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
                <div class="drawer-footer">
                    <el-button-group>
                        <el-button icon="el-icon-circle-close" @click="addFormVisible = false">取消</el-button>
                        <el-button icon="el-icon-circle-check" type="primary" @click="addOnSubmit">确定</el-button>
                    </el-button-group>
                </div>
            </el-drawer>
            <!-- </el-container> -->
        </el-container>
    </div>
</body>

<script src="./index.js"></script>
</body>

</html>