@import url("//unpkg.com/element-plus/dist/index.css");

.el-main .radius {
    height: auto;
    border: 1px solid var(--el-border-color-base);
    border-radius: 0;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    /* padding-right: 10px; */
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-card {
    /* margin-left: 10px; */
    /* margin-bottom: 10px; */
    display: inline-block;
    width: 230px;
    height: 140px;
}

.radius-title {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    padding-bottom: 14px;
    margin-top: 10px;
    margin-left: 10px;
}

.success-row {
    background-color: #e1f3d8;
}

.warning-row {
    background-color: #faecd8;
}

.info-radius {
    display: inline-block;
    /* padding-right: 10px; */
}

.live-radius {
    width: 1000px;
}