<!DOCTYPE html>

<html>

<head>
    <title>Bilibili Record</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="./index.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
    <script src="//unpkg.com/vue@next"></script>
    <script src="//unpkg.com/element-plus"></script>
</head>

<body>
    <div id="app">
        <el-container style="height: auto; border: 1px solid #eee;">
            <el-menu default-active="1" class="el-menu-vertical-demo" :collapse="true">
                <el-menu-item index="1">
                    <i class="el-icon-menu"></i>
                    <template #title>总览</template>
                </el-menu-item>
                <el-menu-item index="2">
                    <i class="el-icon-setting"></i>
                    <template #title>房间管理</template>
                </el-menu-item>
            </el-menu>
            <el-container>
                <el-main>
                    <el-space wrap>
                        <div class="radius info-radius"
                            style="border-radius: var(--el-border-radius-base); box-shadow: var(--el-box-shadow-base);">
                            <div class="radius-title">
                                录制状态
                                <i class="el-icon-warning-outline"></i>
                            </div>
                            <el-space wrap>
                                <el-card class="box-card">
                                    <template #header>
                                        <div class="card-header">
                                            <span>监听房间数</span>
                                        </div>
                                    </template>
                                    <div class="text item">{{ tableData.length }}</div>
                                </el-card>
                                <el-card class="box-card">
                                    <template #header>
                                        <div class="card-header">
                                            <span>正在录制</span>
                                        </div>
                                    </template>
                                    <div class="text item">{{ recordCount }}</div>
                                </el-card>
                                <el-card class="box-card">
                                    <template #header>
                                        <div class="card-header">
                                            <span>下载量</span>
                                        </div>
                                    </template>
                                    <div class="text item">{{ totalDownload }}</div>
                                </el-card>
                                <el-card class="box-card">
                                    <template #header>
                                        <div class="card-header">
                                            <span>已录制文件数</span>
                                        </div>
                                    </template>
                                    <div class="text item">{{ fileNum }}</div>
                                </el-card>
                            </el-space>
                        </div>
                        <div class="radius info-radius"
                            style="border-radius: var(--el-border-radius-base); box-shadow: var(--el-box-shadow-base);">
                            <div class="radius-title">
                                设备状态
                                <i class="el-icon-warning-outline"></i>
                            </div>
                            <el-space wrap>
                                <el-card class="box-card">
                                    <template #header>
                                        <div class="card-header">
                                            <span>CPU</span>
                                        </div>
                                    </template>
                                    <div class="text item">{{ cpu }}</div>
                                </el-card>
                                <el-card class="box-card">
                                    <template #header>
                                        <div class="card-header">
                                            <span>内存</span>
                                        </div>
                                    </template>
                                    <div class="text item">{{ memoryUsage }}/{{ memoryTotal }}</div>
                                </el-card>
                                <el-card class="box-card">
                                    <template #header>
                                        <div class="card-header">
                                            <span>网络</span>
                                        </div>
                                    </template>
                                    <div class="text item">{{ uploadSpeed }}</div>
                                    <div class="text item">{{ downloadSpeed }}</div>
                                </el-card>
                                <el-card class="box-card">
                                    <template #header>
                                        <div class="card-header">
                                            <span>硬盘</span>
                                        </div>
                                    </template>
                                    <div class="text item">{{ diskUsage }} / {{ diskTotal }}</div>
                                </el-card>
                            </el-space>
                        </div>
                    </el-space>
                    <!-- <div class="radius live-radius"
                        style="border-radius: var(--el-border-radius-base); box-shadow: var(--el-box-shadow-base);"> -->
                    <el-table :data="tableData" :row-style="tableRowColor"
                        :default-sort="{prop: 'LiveStatus', order: 'descending'}">
                        <el-table-column prop="RoomID" label="房间ID">
                        </el-table-column>
                        <el-table-column prop="Uname" label="主播">
                        </el-table-column>
                        <el-table-column prop="AreaName" label="分区">
                        </el-table-column>
                        <el-table-column prop="Title" label="直播标题">
                        </el-table-column>
                        <el-table-column prop="LiveStatus" label="直播状态" :sortable="true" :sort-method="liveSort">
                        </el-table-column>
                        <el-table-column prop="LiveStartTime" label="开播时间">
                        </el-table-column>
                        <el-table-column prop="LiveTime" label="开播时长">
                        </el-table-column>
                        <el-table-column prop="RecordTime" label="录制时间">
                        </el-table-column>
                        <el-table-column prop="DecodeTime" label="转码用时">
                        </el-table-column>
                        <el-table-column prop="UploadTime" label="上传用时">
                        </el-table-column>
                        <el-table-column prop="State" label="当前状态">
                            <template #default="scope">
                                <el-tag :type="state2Type(scope.row.State)">{{ state2Name(scope.row.State) }}
                                </el-tag>
                            </template>
                        </el-table-column>
                        <el-table-column label="操作">
                            <template #default="scope">
                                <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                                </el-button>
                                <el-popconfirm confirm-button-text="是" cancel-button-text="否" icon="el-icon-info"
                                    icon-color="red" title="确认删除该房间吗?" @confirm="handleDelete(scope.$index, scope.row)">
                                    <template #reference>
                                        <el-button size="mini" type="danger">删除</el-button>
                                    </template>
                                </el-popconfirm>
                            </template>
                        </el-table-column>
                    </el-table>
                    <!-- </div> -->
                </el-main>
                <el-dialog v-model="editFormVisible" title="编辑房间信息">
                    <el-form :model="form">
                        <el-form-item label="房间ID" label-width="120px">
                            <el-input v-model="form.RoomID" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-switch v-model="form.RecordMode" active-color="#13ce66" inactive-color="#ff4949"
                                active-text="24小时录制" inactive-text="仅在设定时间录制"
                                @change="changeRecordTimeText(form.RecordMode)" />
                        </el-form-item>
                        <el-form-item label="录制开始时间" label-width="120px">
                            <el-time-picker v-model="form.StartTime" :disabled="disabledRecord">
                        </el-form-item>
                        <el-form-item label="录制结束时间" label-width="120px">
                            <el-time-picker v-model="form.EndTime" :disabled="disabledRecord">
                        </el-form-item>
                        <el-form-item>
                            <el-switch v-model="form.AutoRecord" active-color="#13ce66" inactive-color="#ff4949"
                                active-text="自动录制" inactive-text="仅监控" />
                        </el-form-item>
                        <el-form-item>
                            <el-switch v-model="form.AutoUpload" disabled active-color="#13ce66"
                                inactive-color="#ff4949" active-text="自动上传" inactive-text="禁止上传" />
                        </el-form-item>
                    </el-form>
                    <template #footer>
                        <span class="dialog-footer">
                            <el-button @click="editFormVisible = false">取消</el-button>
                            <el-button type="primary" @click="onSubmit">确定</el-button>
                        </span>
                    </template>
                </el-dialog>
            </el-container>
        </el-container>
    </div>
</body>

<script src="./index.js"></script>
</body>

</html>